{% extends 'base/base.html' %} 

{% block content %}
<script>
  function togglePasswordVisibility(id) {
      var passwordField = document.getElementById(id);
      if (passwordField.type === "password") {
        passwordField.type = "text";
      } else {
        passwordField.type = "password";
      }
    }
</script>
<style>
  .password {
      padding-right: 30px;
    }
    .password-icon {
      position: relative;
    }
    .password-icon i {
      position: absolute;
      right: 20px;
      top: 15px;
    }
</style>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<div class="col-md-5 mx-auto mt-5">
    <div class="card border-0">
      <div class="card-body rounded-bottom bg-primary p-5">
        <form action=".", method="POST">
          {% csrf_token %}
            <div class="form-group">
              <input
                type="text"
                class="form-control border-0 p-4"
                placeholder="Username"
                required="required"
                name="username"
              />
            </div>
            <div class="form-group">
              <div class="password-icon">
                <input
                  id="password"
                  type="password"
                  class="form-control border-0 p-4"
                  placeholder="Password"
                  required="required"
                  name="password"
                />
                <button type="button" style="background-color: transparent;border: 0px; right: 20px;" onclick="togglePasswordVisibility('password')"><i class="fa-sharp fa-solid fa-eye"></i></button>
              </div>
            </div>
            <div>
              <button
                class="btn btn-secondary btn-block border-0 py-3 w-75 mx-auto"
                type="submit"
              >
                Log in
              </button>
            </div>
          </form>
          <br>
          <div class="form-group"><p class="text-secondary"> Don't have an account? <a href="/signin" class="text-dark">Sign in.</a></p></div>
      </div>
    </div>
  </div>

{% endblock %}